script(src="/socket.io/socket.io.js")

script(src='https://res.cloudinary.com/zapy/raw/upload/v1523343767/js%20test/HackTimer.min.js', type="text/javascript")
script(src='https://res.cloudinary.com/zapy/raw/upload/v1523347227/js%20test/jquery.js', type="text/javascript")
script(src='https://res.cloudinary.com/zapy/raw/upload/v1523347377/js%20test/jquery.magnific-popup.min.js', type="text/javascript")
script(src='https://res.cloudinary.com/zapy/raw/upload/v1523347279/js%20test/bootstrap.bundle.min.js', type="text/javascript")