script(src="/socket.io/socket.io.js")

script(src=`${resources.scripts.extern.hackTimer}`, type="text/javascript")
script(src=`${resources.scripts.extern.jQuery}`, type="text/javascript")
script(src=`${resources.scripts.extern.magnificpopup}`, type="text/javascript")
script(src=`${resources.scripts.extern.bootstrap}`, type="text/javascript")