doctype html
html
    head
        title="CSGOZAP.com - Coinflip"

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(name='viewport', content='width=device-width, initial-scale=1')

        meta(name='keywords', content='coinflip, gambling, csgo skins, csgo, counter-strike global offensive, cs:go, csgozap, csgozap.com')
        meta(name='description', content='CSGO Skin Coinflip! Players deposit skins in a coinflip. Afterwards a Coin will be flipped, and the winner receives the skins.')
        meta(name='author', content='CSGOZAP')

        meta(property='og:title', content='CSGOZAP')
        meta(property='og:description', content='CSGO Skin Coinflip! Players deposit skins in a coinflip. Afterwards a Coin will be flipped, and the winner receives the skins.')
        meta(property='og:url', content='https://csgozap.com')
        meta(property='og:site_name', content='CSGOZAP')

        link(rel='alternate', href='https://CSGOZAP.com', hreflang='en')

        link(rel='shortcut icon', href='../../resources/img/favicon/favicon.png', type='image/x-icon')
        link(rel='apple-touch-icon', href='../../resources/img/favicon/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='../../resources/img/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='../../resources/img/favicon/apple-touch-icon-114x114.png')

        link(rel='stylesheet', type="text/html", href='../../resources/css/external/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', type="text/html", href='../../resources/css/external/font-awesom/css/font-awesome.css')

        link(rel='stylesheet', type="text/html", href='../../resources/css/basic/basic.css?v=1.1')
        link(rel='stylesheet', type="text/html", href='../../resources/css/basic/custom.css?v=1.1')

